.day-picker-main {
  @extend .opt-dropdown-main;
  .calender-months {
    .rdp-months {
      width: 100%;
      .rdp-month {
        width: 100%;
        .rdp-caption {
          margin-bottom: 2rem;
          .rdp-caption_label {
            font-size: 2rem;
          }
          .rdp-nav {
            margin-right: 2rem;
            .rdp-nav_button {
              width: 2.5rem;
              height: 2.5rem;
              .rdp-nav_icon {
                width: 100%;
                height: 100%;
              }
            }
          }
        }
        .rdp-table {
          width: 100%;
          max-width: none;
          .rdp-head {
            .rdp-head_row {
              .rdp-head_cell {
                font-size: 1.4rem;
              }
            }
          }
          .rdp-tbody {
            .rdp-row {
              .rdp-cell {
                width: 7.7rem;
                height: 4rem;
                .rdp-day_today {
                  font-weight: unset;
                }
                .rdp-button {
                  font-size: 1.8rem;
                  display: unset;
                }
                .rdp-day_selected {
                  background: #08af54;
                }
              }
            }
          }
        }
      }
    }
  }
}
